@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-color: #db2fbf;
    --secondary-color: black;
    --accent1-color: #4822ee;
    --accent2-color: #f0d878;
    
    --heading-font: Poppins, display;
    --paragraph-font: Lato,Roboto;


    --nav-background-color: hwb(0 7% 90%);
    --nav-link-color: #D5CE92;
    --nav-hover-link-color: #35332b;
    --nav-hover-background-color: #996f6ff1 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--nav-background-color);
    font-weight: bold;
}


header img {
    width: 100px;
    padding: 5px; 
    align-self: center;
    justify-self: center;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

body{
    font-family: var(--paragraph-font);
    padding: 20px;
}

.hero {
    position: relative
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);

}

.hero h1 {
    position: absolute;
    padding-top: 10px;
    top: 0px;
    width: 100%;
    font-family: var(--heading-font);
    color: #EFB46B;
    text-shadow: 2px 2px 0px var(--primary-color);
    background-color:rgba(53, 51, 43, .50);
    font-size: 60px;
    text-align: center;
}

.hero img{
    display: flex;
    width: 100%;
    height: auto;
}

.hero article {
    width: auto;
    padding: 5px;
    border: .5px solid #35332b2e;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 135px;
    margin: 0 auto;
    background-color: #f9ead9b3;
    text-shadow: .2px .2px 0px var(--primary-color);
    color: var(--accent1-color);
    text-align: center;    
}

.hero article img {
    width: 165px;
    float: right;
    border: 1px solid #35332b;
    box-shadow: 0px 0px 5px #35332b;
}

.history {
    display: grid;
    justify-items:center;
    column-gap: 15px;
    padding-bottom: 25px;

}

.history h2 {
    grid-column: 1/4 ;
    grid-row: 1
}

.history img {
    width: 250px;
    border: 1px solid;
    box-shadow: 0px 0px 5px #35332b;
}


.rafting-images h2{
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

figure{
    padding: 0px;
    margin: 0px;
}

.figures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.figures img {
    width: 180px;
    border: 1px solid #35332b;
    box-shadow: 0px 0px 5px #35332b;
}

figcaption {
    font-family: var(--paragraph-font);
    text-align: center;
}

p {
    padding: 5px 10px 5px 10px;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);

}

footer  {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    background-color: var(--nav-background-color);
}
footer a {
    text-decoration: none !important;
    color: var(--nav-link-color);
  }
  

footer p {
    flex: 1;
    margin: 0;
    justify-content: center;
    color: #D5CE92;
    text-indent: 10px;
}

.sociallinks img {
    flex: 2;
    justify-content: flex-end;
    width: 25px;
}

nav a {
    font-family: var(--paragraph-font);
    color: #D5CE92;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    width:auto;
}
/*TRIPS SECTION*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 550px;
  }
  
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
    max-height: 300px;
  }
  
  .card ul {
    list-style: none;
    text-align: left;
    padding: 16px;
    line-height: 1.5rem;
  }
  
  .container p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }
  
  .reviews {
    color: goldenrod;
  }
  
  .container button {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-size: var(--paragraph-font);
    border: 0;
    display: block;
    margin: 0 auto;
    border-radius: 26px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
    text-decoration: none !important;
  }
  
  .container a {
    text-decoration: none !important;
  }
  
  /*HISTORY SECTION*/
  .history,
  .contact {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .history h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .historyContent {
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    gap: 10px;
  }
  
  .historyContent p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }
  
  .historyContent img {
    max-width: 100%;
    max-height: 220px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding: 8px;
  }
  
  /*ADVENTURES SECTION*/
  .adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .adventures h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  figure {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  
  figure img {
    max-width: 100%;
    height: 120px;
    display: block;
    margin: 0 auto;
  }
  
  figcaption {
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  /*CONTACT US PAGE STYLES*/
  .contactContent {
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 10px;
    text-align: left !important;
    line-height: 2rem;
    margin-top: 12px;
  }
  
  .contactContent h2 {
    text-align: center;
    padding: 20px;
    margin-bottom: 18px;
  }
  
  .contactContent img {
    width: 350px;
    height: auto;
  }
  
  .contactContent label,
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    padding: 6px;
    width: 90%;
    font-weight: bold;
  }
  
  .radio-group {
    display: block;
    gap: 5px;
    align-items: left;
  }
  
  
  .radio-group input[type="radio"] {
    margin: 0;
    padding: 2px;
    appearance: none;
    border: 1px solid #3498db;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .radio-group label {
    font-size: 16px;
    color: #333;
  }
  
  .radio-group input[type="radio"]:checked {
    background-color: #3498db;
  }
  
  
  .contactContentbutton, .newsletterbutton {
    background-color: #000080;
    color: #fff;
    padding: 14px 22px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    width: 90%;
    cursor: pointer;
  }
  
  .newsletterbutton {
    background-color: var(--accent2-color);
  }

  /*INDEX CONTENT*/
  .indexContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .indexContent p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }
  
  .indexContent img {
    width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 26px;
    padding: 8px;
  }
  
  .indexContent button {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-size: var(--paragraph-font);
    border: 0;
    display: block;
    margin: 0 auto;
    border-radius: 26px;
    padding: 8px 16px;
    float: left;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 rgba(170, 136, 136, 0.5);
  }
  
  .indexContent input {
    padding: 8px;
    margin: 2px;
  }

  .index moto2{
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  /*HEADER AND NAVBAR SECTION*/
 .aboutHeader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    background-color: var(--nav-background-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 22px;
    grid-gap: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .logo {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    width: 150px;
    height: auto;
  }
  
  .aboutNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 0px;
    margin: 0;
    background-color: var(--nav-hover-link-color);
    border: 1px solid black;
  }
  
  .aboutNavbar a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 16px 32px;
    margin: 0;
    border-right: 1px solid black;
  }
  
  .aboutNavbar a:last-child {
    border-right: none;
  }
  
  .aboutNavbar a:hover {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
  }
  

